@use "/src/styles/var" as *;

.banner {
    background-image: url(/images/serviceBanner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px 0;
    border-radius: 0 0 100px 100px;
    position: relative;
    overflow: hidden;

    @media (max-width: $lg) {
        padding: 100px 0;
    }

    @media (max-width: $sm) {
        padding-top: 100px;
        padding-bottom: 60px;
        border-radius: 0 0 50px 50px;
    }

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(0deg, rgb(49 4 68 / 82%), transparent);
    }

    .container {
        position: relative;
        z-index: 1;
    }

    .content {
        text-align: center;
        max-width: 900px;
        margin: auto;

        h1 {
            font-size: 78px;
            color: #fff;
            font-weight: 900;
            margin-bottom: 50px;

            @media (max-width: $lg) {
                font-size: 68px;
            }

            @media (max-width: $sm) {
                font-size: 48px;
                margin-bottom: 20px;
            }

            span {
                background: linear-gradient(180deg, $secondary, #0d1c9f);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        p {
            color: #f1f1f1;
            font-size: 20px;
        }
    }
}



.container {
    max-width: 1400px;

    @media (max-width: $xxl) {
        max-width: 1140px;
    }

    @media (max-width: $xl) {
        max-width: 960px;
    }

    @media (max-width: $lg) {
        max-width: 720px;
    }

    @media (max-width: $md) {
        max-width: 540px;
    }
}

.services {
    padding: 100px 0;

    @media (max-width: $lg) {
        padding: 100px 0;
    }

    @media (max-width: $md) {
        padding: 50px 0;
    }

    .row {
        display: flex;
        flex-direction: column;
        gap: 50px;

        @media (max-width: $md) {
            gap: 30px;
        }

        .service {
            &:nth-child(even) {
                .rowItem {
                    background: linear-gradient(225deg, rgba(139, 146, 215, 0.05) 0%, rgba(87, 0, 123, 0.05) 100%);
                }
            }

            &:nth-child(odd) {
                .rowItem {
                    background: linear-gradient(225deg, #de439647 0%, $primary 100%);
                }
            }

            .head {
                text-align: center;
                max-width: 800px;
                margin: auto;
                margin-bottom: 40px;

                @media (max-width: $md) {
                    margin-bottom: 20px;
                }

                h2 {
                    font-size: 44px;
                    font-weight: 900;

                    @media (max-width: $md) {
                        font-size: 38px;
                    }

                    @media (max-width: $sm) {
                        font-size: 34px;
                    }
                }

                p {
                    font-size: 18px;
                    color: #718096;
                }
            }

            .rowItem {
                border-radius: 50px;
                padding: 50px;

                @media (max-width: $xl) {
                    border-radius: 30px;
                }

                @media (max-width: $md) {
                    padding: 40px 20px;
                }

                .rowItemWrapper {
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
                    gap: 40px;

                    @media (max-width: $xl) {
                        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
                        gap: 20px;
                    }

                    h4{
                        text-align: center;
                        font-weight: 900;
                        font-size: 20px;
                    }

                    .content {
                        height: 350px;
                        position: relative;
                        background-image: url(/images/teamBanner.jpg);
                        background-repeat: no-repeat;
                        background-size: cover;
                        overflow: hidden;
                        display: flex;
                        flex-direction: column;
                        justify-content: end;
                        border-radius: 30px;

                        @media (max-width: $xl) {
                            height: 300px;
                            border-radius: 20px;
                        }

                        @media (max-width: $sm) {
                            height: 250px;
                            border-radius: 20px;
                        }

                        &::after {
                            content: "";
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            top: 0;
                            left: 0;
                            background: linear-gradient(0deg, rgba(86, 0, 123, 0.747), transparent);
                        }

                        .wrapper {
                            position: relative;
                            z-index: 1;
                           
                            text-align: center;
                            padding: 20px;
                            padding-top: 0;

                            h3 {
                                color: #fff;
                                font-size: 18px;
                                font-weight: 700;
                            }

                            p {
                                color: #fff;
                                font-size: 15px;
                            }
                        }
                    }
                }
            }

            .btn {
                text-align: center;
                padding-top: 20px;

                a {
                    display: inline-block;
                    background: linear-gradient(225deg, $secondary, $primary);
                    font-weight: 600;
                    color: #fff;
                    text-decoration: none;
                    transition: all 0.25s ease-in-out;
                    position: relative;
                    padding: 20px 36px;
                    border-radius: 12px;
                    font-size: 14px;
                    border: 0;
                }
            }
        }
    }
}

.ready {
    padding-top: 50px;
    padding-bottom: 100px;

    @media (max-width: $md) {
        padding-top: 10px;
        padding-bottom: 50px;
    }

    @media (max-width: $md) {
        padding-left: 20px;
        padding-right: 20px;
    }

    .container {
        background-image: url(/images/Article.svg);
        background-position-x: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 50px;

        @media (max-width: $md) {
            border-radius: 20px;
        }

        .wrapper {
            text-align: center;
            padding: 100px 50px;
            max-width: 800px;
            margin: auto;

            @media (max-width: $md) {
                padding: 50px 20px;
            }

            h2 {
                font-size: 44px;
                color: #fff;
                font-weight: 700;

                @media (max-width: $md) {
                    font-size: 36px;
                }
            }

            p {
                font-size: 18px;
                color: #fff;
                margin: 20px 0;
            }

            .btn {
                a {
                    display: inline-block;
                    padding: 20.37px 36.38px;
                    border-radius: 15px;
                    background: linear-gradient(225deg, #ffc656, #f16063);
                    font-size: 26.2px;
                    font-weight: 700;
                    color: #fafafa;
                    border: 1.46px solid #fff;
                    box-shadow: 0 34px 94px 0 rgba(0, 0, 0, .451);
                    text-decoration: none;
                    transition: all .25s ease-in-out;
                    position: relative;

                    @media (max-width: $sm) {
                        padding: 15px 26px;
                        font-size: 18px;
                    }
                }
            }
        }
    }
}