@use "/src/styles/var" as *;

.languageSwitcher {
    position: relative;
    display: inline-block;
}

.dropdownBtn {
    padding: 10px;
    font-size: 16px;
    display: flex;
    align-items: center;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;

    @media (max-width: $sm) {
        padding: 6px;
        font-size: 12px;
        font-weight: 600;
    }
}

.flagIcon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    object-fit: cover;

    @media (max-width: $sm) {
        margin-right: 5px;
        width: 15px;
        height: 15px;
    }
}

.dropdownContent {
    display: block;
    position: absolute;
    background-color: #fff;
    min-width: -webkit-fill-available;
    border: 1px solid #ccc;
    border-radius: 4px;
    top: 100%;
    right: 0;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}



.languageOption img {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.languageOption span {
    font-size: 14px;
}

.languageSwitcher {
    // position: absolute;
    // top: 10px;
    // right: 10px;
    // z-index: 10;

    .languageBtn {
        cursor: pointer;
        // padding: 10px;
        font-size: 16px;
        // background: linear-gradient(225deg, $secondary, $primary);
        color: white;
        border-radius: 4px;
        display: flex;
        align-items: center;
        gap: 4px;
        width: 25px;
        height: 25px;

        @media(max-width:$lg) {
            background: transparent;
            color: #000;
            padding: 0;
            width: 20px;
            height: 20px;
        }

        img {
            width: 100%;
            height: 100%;
        }

        h3 {
            font-size: 16px;
            margin: 0;

            @media(max-width:$lg) {
                font-size: 14px;
            }
        }
    }

    .languageDropdown {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 12px 10px;
        list-style-type: none;
        margin: 0;
        position: absolute;
        top: 40px;
        /* Adjust according to the size of the button */
        right: 0;
        background-color: white;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        width: 150px;

        &.arabic {
            direction: rtl;
            text-align: right;
            right: auto;
            left: 0;
        }
    }

    .languageOption {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 8px;
        transition: background-color 0.2s ease;
    }
}