@use "/src/styles/var" as *;

.main {
    padding-top: 100px;
}

.banner {
    padding: 50px 0;

    @media (max-width: $lg) {
        padding: 0;
        padding-top: 20px;
        text-align: center;
    }

    @media (max-width: $md) {
        padding: 0;
    }

    .row {
        row-gap: 30px;
        align-items: center;

        h3 {
            font-size: 32px;
            font-weight: 700;
        }

        .blogWrapBtn {
            display: flex;
            gap: 15px;

            @media (max-width: $lg) {
                justify-content: center;
            }
        }
    }

    .image {
        img {
            width: 100%;
            height: auto;
        }
    }
}

.singleBlog {
    padding-top: 150px;
    padding-bottom: 100px;
    overflow: hidden;

    @media (max-width: $lg) {
        padding-top: 100px;
        padding-bottom: 50px;
    }

    .info {
        h1 {
            font-weight: 700;
            font-size: 32px;
        }

        .image {
            img {
                width: 100%;
                height: auto;
                border-radius: 25px;

            }

            margin-bottom: 20px;
        }





        .full {
            background: #fff;
            padding: 10px 15px;
            border-radius: 20px;

            h2 {
                font-size: 26px;
                font-weight: 700;
                margin-top: 40px;
                margin-bottom: 20px;
            }

            h3 {
                font-size: 20px;
                font-weight: 700;
                color: #2e2e2e;
                margin-bottom: 5px;
            }

            p {
                line-height: 28px;
            }

            ul {
                padding-left: 18px;
                list-style: circle;

                li {
                    padding: 5px 0;
                }
            }

            img {
                width: 100%;
                height: auto;
                border-radius: 25px;

            }
        }
    }
}

.related {
    background: #fff;
    padding: 30px 20px;
    border-radius: 25px;

    h2 {
        font-size: 30px;
        font-weight: 700;
    }

    .blogs {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 0;

        a {
            text-decoration: none;
        }

        .blog {
            background: #fbf8f8;
            border-radius: 25px;
            padding: 20px 15px;

            h4 {
                color: #000;
                font-size: 18px;
                font-weight: 700;
                margin-top: 15px;
                margin-bottom: 5px;
            }

            p {
                color: #817c7c;
                font-weight: 500;
                margin: 0;
            }

            img {
                width: 100%;
                height: 200px;
                object-fit: cover;
                border-radius: 20px;

                @media (max-width: $lg) {
                    height: 120px;
                }

                @media (max-width: $md) {
                    height: 220px;
                }
            }
        }
    }
}

.blogs {
    padding: 50px 0;

    @media (max-width: $md) {
        padding: 25px 0;
    }

    .head {
        p {
            font-size: 18px;
            margin: 20px 0;
        }

        .btnWrapper {
            a {
                margin: auto;
            }
        }
    }

    .row {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        gap: 30px;

        .col {
            box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.05);
            background-color: #fff;
            border-radius: 10px;
            padding: 20px 40px;
            padding-left: 90px;
            position: relative;
            overflow: hidden;

            img {
                width: 100%;
                height: 180px;
                object-fit: cover;
                border-radius: 8px;
            }

            h3 {
                font-size: 18px;
                margin-top: 20px;
            }

            p {
                display: -webkit-box;
                -webkit-line-clamp: 4;
                /* Number of lines */
                -webkit-box-orient: vertical;
                overflow: hidden;
            }

            .btns {
                display: flex;
                align-items: center;
                gap: 10px;

                svg {
                    font-size: 20px;
                }
            }

            .date {
                transform: rotate(-90deg);
                position: absolute;
                top: 50px;
                left: -50px;
                padding: 20px;
                font-size: 18px;
                font-weight: 700;
                color: #646772;
                background: linear-gradient(270deg, #ddd, transparent);
            }

        }
    }
}