@use "/src/styles/var" as *;

.black_ribbon {
    width: 100%;
    height: auto;
    background: linear-gradient(225deg, $secondary 0%, $primary 100%);
    background: #161616;
    direction: ltr; // default for English and Bangla



    .marq {
        display: flex;
    }

    .ribbon_text {
        padding: 20px 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        gap: 30px;

        img {
            width: 120px;
            height: 60px;
            background: #fff;
            object-fit: contain;
            border-radius: 10px;
        }

        .ribbon_dtext {
            align-items: center;
            color: #fff;
        }

        .ribbon_ltext {
            color: #909090;
        }
    }
}