@use "/src/styles/var" as *;

.banner {
    padding-top: 160px;
    padding-bottom: 70px;
    background-image: url(/images/abt.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;

    @media (max-width: $md) {
        padding-top: 140px;
        padding-bottom: 50px;
     }

     @media (max-width: $sm) {
        padding-top: 100px;
     }

     &::after{
        content: '';
        background: #ffffff73;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
     }

    .wrapper {
        padding: 50px;
        text-align: center;
        // background: #ffffffc9;
        border-radius: 40px;
        position: relative;
        z-index: 1;

        @media (max-width: $md) {
            padding: 40px 20px;
        }

        h1 {
            font-size: 28px;
            font-weight: 700;
            color: $primary;

            @media (max-width: $md) {
                font-size: 24px;
             }
        }

        h2 {
            font-size: 34px;
            font-weight: 700;
            margin: 20px 0;

            @media (max-width: $md) {
               font-size: 28px;
            }
        }

        p{
            font-weight: 600;
        }
    }
}

.mnv {
    padding: 100px 0;

    @media (max-width: $md) {
        padding: 50px 0;
     }

    .row {
        border-radius: 40px;
        overflow: hidden;

        @media (max-width: $md) {
            display: flex;
            flex-direction: column;
            gap:30px ;
            border-radius: 0;
        }


    }

    .mission,
    .vision {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        

        @media (max-width: $md) {
            overflow: hidden;
            border-radius: 25px;
        }

        .image {
            img {
                width: 100%;
                height: 300px;
                object-fit: cover;

                @media (max-width: $md) {
                    height: 220px;
                }
            }
        }

        .content {
            padding: 50px;
            background: linear-gradient(225deg, rgba(139, 146, 215, 0.05) 0%, rgba(87, 0, 123, 0.05) 100%);
            @media (max-width: $md) {
                padding: 30px;
            }

            h3{
                font-weight: 700;
            }
        }
    }

    .mission {
        @media (max-width: $md) {
            display: flex;
            flex-direction: column-reverse;
        }
    }
}