@use "/src/styles/var" as *;


.banner {
    padding-top: 160px;
    padding-bottom: 70px;
    background: linear-gradient(0deg, #f8ceff, transparent);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;

    @media (max-width: $md) {
        padding-top: 140px;
        padding-bottom: 50px;
    }

    @media (max-width: $sm) {
        padding-top: 100px;
    }

    //  &::after{
    //     content: '';
    //     background: #ffffff73;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //  }

    .wrapper {
        text-align: center;
        // background: #ffffffc9;
        border-radius: 40px;
        position: relative;
        z-index: 1;
        // color: #fff;
        max-width: 800px;
        margin: auto;

        @media (max-width: $md) {
            padding: 40px 20px;
        }

        h1 {
            font-size: 28px;
            font-weight: 700;
            color: $primary;

            @media (max-width: $md) {
                font-size: 24px;
            }
        }

        h2 {
            font-size: 34px;
            font-weight: 700;
            margin: 20px 0;

            @media (max-width: $md) {
                font-size: 28px;
            }
        }

        p {
            font-weight: 600;
        }
    }
}

.products {
    padding: 50px 0;

    .row {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
        gap: 20px;

        @media (max-width: $md) {
            grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        }

        .col {
            display: flex;
            flex-direction: column;
            padding: 20px 15px;
            border: 1px solid $primary;
            border-radius: 30px;
            background: #fff;
            box-shadow: 0 5.55px 41.62px 0 rgba(0, 0, 0, .051);

            .image {
                img {
                    width: 100%;
                    height: 250px;
                    object-fit: cover;
                    border-radius: 25px;
                }
            }

            .content {
                padding: 20px 0;

                h2 {
                    font-size: 16px;
                    font-weight: 700;
                    margin: 0;
                }

                h3 {
                    font-size: 20px;
                    font-weight: 700;
                    color: $primary;
                    margin-top: 5px;
                    margin-bottom: 25px;
                }

                h4 {
                    font-size: 16px;
                    font-weight: 700;
                    margin: 0;
                }

                ul {
                    margin: 10px 0;
                    padding-left: 18px;
                    list-style: circle;

                    li {
                        color: grey;
                        font-size: 15px;
                    }
                }

                p {
                    margin: 0;
                }
            }

            .btn {
                margin: auto auto 0 auto;
                display: block;
                width: fit-content;
                text-align: center;
                text-decoration: none;
                color: #fff;
                background: $secondary;
                padding: 10px 25px;
                font-weight: 600;
                border-radius: 40px;
            }
        }
    }
}